* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fffdfa;
  font-family: monospace;
  text-align: center;
}

/* Style the top navigation bar */

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: center;
}

/* Change color on hover */

.topnav a:hover {
  background-color: orange;
  color: black;
}

/* Image */
img {
  border-image: none;
  width: 30%;
  padding: 20px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

/* Add a card effect for articles */
.card {
  background-color: orange;
  padding: 20px;
  margin-top: 20px;
  height: 15%;
  display: block;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.coffee{
  display: flex;
  justify-content: center;
}
.text{
  display:flex;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 15%;
}

.footer a {
  padding: 30px;
}

.coffee_images{
padding-left: 17%;
padding-top: 5%;
}

.latte{
display: inline-block;
padding-left: 22%;
color: #1B1B1B;
}

.cold_coffee{
display: inline-block;
padding-left: 14%;
color: #1B1B1B;
}

.coffee_3{
display: inline-block;
padding-left: 17%;
color: #1B1B1B;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

.footer a {
    padding: 30px;
}


[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.flex-container {
  display: flex;
  overflow: auto;
}

.flex-container > div {
  color: white;
  width: 33.33%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}